<div class="layout-topbar " style="background-color: rgb(223, 152, 21);">
    <a class="layout-topbar-logo" routerLink="">
        <img
            src="assets/layout/images/{{
                layoutService.config().colorScheme === 'light'
                    ? 'logormv.png'
                    : 'logormv.png'
            }}"
            style="height: 60; width: 60; border: 2px solid white ; border-radius: 50%;"
            alt="logo"
        />

        <!-- <img src="assets/layout/images/{{layoutService.config().colorScheme === 'light' ? 'logo-dark' : 'logo-white'}}.svg" alt="logo"> -->
        <span>FANOS</span>
    </a>

    <button
        #menubutton
        class="p-link layout-menu-button layout-topbar-button"
        (click)="layoutService.onMenuToggle()"
    >
        <i class="pi pi-bars" style="color: white;"></i>
    </button>

    <button
        #topbarmenubutton
        class="p-link layout-topbar-menu-button layout-topbar-button"
        (click)="layoutService.showProfileSidebar()"
    >
        <i class="pi pi-ellipsis-v" style="color: white;"></i>
    </button>

    <div
        #topbarmenu
        class="layout-topbar-menu"
        [ngClass]="{
            'layout-topbar-menu-mobile-active':
                layoutService.state.profileSidebarVisible
        }"
    >
        <button class="p-link layout-topbar-button">
            <i class="pi pi-calendar" style="color: white;"></i>
            <span>Calendar</span>
        </button>
        <button class="p-link layout-topbar-button">
            <i class="pi pi-user" style="color: white;"></i>
            <span>Profile</span>
        </button>
        <button
            class="p-link layout-topbar-button"
            [routerLink]="'/documentation'"
        >
            <i class="pi pi-cog" style="color: white;"></i>
            <span>Settings</span>
        </button>
    </div>
</div>
